.global-header {
    background-color: var(--bs-black);
    color: var(--bs-white);
    display: flex;
    justify-content: space-between;
    fill: white;
    align-items: center;
    padding: 0px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .global-header h1 {
    padding: 0;
    margin: 5px 5px;
    font-size: 15px;
  }
  
  span.logo {
    margin: 10px;
  }
  
  .global-header a:link,
  .global-header a:visited,
  #park-header a:link,
  #park-header a:visited {
    color: white;
    text-decoration: none;
  }
  
  .global-header .icon {
    width: 15px;
    height: 15px;
  }
  
  .global-header_right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .global-header_right .search-icon {
    padding: 0 1rem;
    margin-top: 6px;
  }

  #global-nav-toggle {
    margin-left: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    border: none;
    align-items: center;
    text-transform: uppercase;
    border-left: 1px solid var(--bs-grey-5);
    cursor: pointer;
  }